@import 'variables';
@import 'helpers';
 


/*==========  variables ===========*/
$primary-color: #0076BE;
$secondary-color: #003768;


body { 
    color: #3a3a3a !important;
    background: rgba(100, 176, 241, 0.54);
    /*4b83b1*/
}

.panel {
    border: 1px solid #ddd;
    border-radius: 0;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 0px !important;
    /*.xs-mt-0;*/
}

.progressBar__container h2,
.progressBar__completed,
.panel-content h3,
.actions__title a,
.actions__buttons .button-small,
.caption,
.xs-m-20.xs-mb-0,
.notification-detail__message p a.xs-mb-10 {
    color: #4a4a4a !important;
}

.form-item-label {
    color: #3a3a3a !important;
}

/*.iwsHightWrapper {
    background: #fbfbfb;
    margin: 0px auto 0px;
}*/

.navbar-nav {
    li a {
        color: #44657e !important;
        font-weight: bold;
    }

    li:hover a {
        opacity: 0.7;
    }

    li.active a {
        background: #e2f4fb !important;
    }
}

.action-btn {
    color: #fff !important;
    background-color: #4d7089;
    text-decoration: none !important;
    font-weight: bold;
    border: 1px solid #596a77 !important;

    &:hover,
    &:active,
    &:focus {
        color: #595959 !important;
        background-color: #f3f3f3;
        border: 1px solid #d6d6d6 !important;
    }
}

h1.panel-title,
.panel-content h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #4d7089 !important;
    margin-bottom: 0;
    font-size: 22px !important;
    text-align: left;
    font-weight: bold !important;
}

ul.nav-pills li {
    display: table-cell;
    margin: 0;
    float: none;
    text-align: center;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    a {
        background: #fff !important;
        padding: 15px !important;
        color: #44657e !important;

        :hover {
            opacity: 0.7;
        }
    }



    &.active a.navbar-link {
        background: #e2f4fb !important;
        border: none !important;
    }
}

.pills.nav {
    margin-bottom: -1px;
    padding-bottom: 0px;
}

.nav-icons {
    background: #fff;
}



.navbar-toggle {
    margin-right: 9px;
}
 

@media (min-width: $screen-md) {
    .container {
        width: 940px;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }


    .navbar-nav.acl-nav {
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        margin-left: 0px;


        li {
            width: 16.5%;

            a {
                text-align: center;
            }
        }
    }
}


@media only screen and (max-width : 768px) {
    .navbar-nav {
        margin: 0px !important;
    }

    /*.logo {
        top: -45px;

        img {
            width: 100px;
        }
    }*/
}


@media only screen and (min-width : $screen-sm-min) {

    /*.logo {
        top: -45px;

        img {
            width: 100px;
        }
    }*/

    .header-wrap-inner,
    .nav-modified-inner,
    .footer-modified-inners {
        width: 940px !important;
        margin: 0px auto;
    }
}


/*Logo Styling*/
/*.logo {
    position: absolute;
    top: -30px;
    left: 0px;
    background: #103762;
    padding: 20px;

    &-wrap {
        position: relative;
        height: 70px;
    }

    img {
        width: 150px;
    }
}*/

.header-wrap {
    background: #2877b8 !important;
    margin: 0px auto;
    width: 100%;

    .logo {
        padding: 10px 15px;
        float: left;
        margin: 25px 0px;    
	background: white;
	font-size: 28px;
	font-weight: bold;
    }

    &.hidden {
        background: none !important;
        display: block !important;
    }
}

.nav-modified {
    background-color: #103762 !important;
    margin: 0px auto;
    width: 100%;

    .nav-modified-inner {
        border-bottom: 0px;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .navbar-header {
        background: #103762;
    }

    .navbar-collapse-mod {
        background: #103762;

        li.active a,
        a:hover, a:focus, a:visited {
            background: #174a7b !important;
        }

        a {
            color: $label-color !important;
        }

        li .dropdown-menu {
            background: #103762 !important;
        }
    }
}

.page-box {
    margin-top: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.social-nav li {
    margin-left: 30px;
    list-style: none;
    float: left;

    a {
        font-size: 18px;
        color: #666;

        &:hover {
            color: #0079C1;
        }
    }
}

.footer-modified {
    background: #103762 !important;
    color: $label-color;
    padding: 20px;
    width: 100%;

    a, .fa {
        color: $label-color;
    }
}

/*.hide-now{
    display: none !important;
}*/